<% @title = '投資管理' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '投資登録', :new_product_investment %>
  </div>

  <table class="listing">
    <tr>
      <th>ユーザ</th>
      <th>投資額</th>
      <th>コメント</th>
    </tr>
    <% @product.investments.each do |m| %>
      <tr>
        <td><%= m.user.email %></td>
        <td><%= m.price %></td>
        <td><%= m.comment %></td>
      </tr>
    <% end %>
  </table>

  <div class="links">
    <%= link_to '投資登録', :new_product_investment %>
  </div>
</div>
