<% @title = '商品一覧' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <table class="listing">
    <tr>
      <th>投資</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>目標価格</th>
      <th>現在の価格</th>
      <th>開始日時</th>
      <th>終了日時</th>
    </tr>
    <% @products.each do |m| %>
      <tr>
        <td><%= link_to '投資', [:new, :user, m, :investment] %></td>
        <td><%= m.title %></td>
        <td><%= m.body %></td>
        <td><%= m.target_price %></td>
        <td><%= m.current_price %></td>
        <td><%= m.start_datetime %></td>
        <td><%= m.end_datetime %></td>
      </tr>
    <% end %>
  </table>
</div>
