<% @title = '商品管理' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '新規登録', :new_admin_product %>
  </div>

  <table class="listing">
    <tr>
      <th>タイトル</th>
      <th>本文</th>
      <th>目標価格</th>
      <th>現在の価格</th>
      <th>開始日時</th>
      <th>終了日時</th>
      <th>アクション</th>
    </tr>
    <% @products.each do |m| %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.body %></td>
        <td><%= m.target_price %></td>
        <td><%= m.current_price %></td>
        <td><%= m.start_datetime %></td>
        <td><%= m.end_datetime %></td>
        <td class="actions">
          <%= link_to '編集', [ :edit, :admin, m ] %> |
          <%= link_to '削除', [ :admin, m ], method: :delete,
            data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="links">
    <%= link_to '新規登録', :new_admin_product %>
  </div>
</div>
